<%=form_for [@project,@ticket],:html=>{ :multipart => true } do |f| %>
       
       <%=f.error_messages%>
       
       <div id="form_for_ticket">
         
         <div class="label_cell">
           <%=f.label :title,'Ticket title'%>
	     </div>
	  
	     <div class="input_cell">
	  	    <%=f.text_field :title%>
         </div> 
           
         <div class="label_cell">
            <%=f.label :description%>
	     </div>
	  
	     <div class="input_cell">
	  	     <%=f.text_area :description%>
         </div> 
         
         <div class="add_another_file">
           
           <%=link_to "Add another file",
                       'javascript:',
                       :id=>"add_another_file"
                                         
            %> 
         	
         	
         </div>  
         
         <hr class="space"/>
         <hr class="gray_bottom_border"/> 
         
         <div id="static_files"> 
          
           <%number=0%>
          
           <%=render :partial => "static_files/file_fields",
                     :locals  => { :number=>number } 
            %>
      
         </div>  
          <hr class="space"/>
          <hr class="gray_bottom_border"/>  
          <div>
              <%=f.submit :class=>"formButton"%>
          </div> 
       </div> 
<%end%>
