<div class="block">
	 
	 <div id="ticket" class="rounded column span-23">
	   <div>   
	   	    <div id="ticket_title_field">
                 <h2 class="alt"><%=@ticket.title%></h2>
            </div>
                
            <div id="ticket_edit">
                 <%=link_to "Edit Ticket",
                             edit_project_ticket_path(@project,@ticket),
                             :class=>"command_button"%>
            </div>	
                 
            <div id="ticket_delete">
                 
                 <%=link_to "Delete Ticket",
                             project_ticket_path(@project,@ticket),
                             :method=>"delete",
                             :confirm=>"Are you sure to delete ticket '#{@ticket.title}' associatedo to project '#{@project.name}' ?",
                             :class=>"command_button"%>
            </div>	 
        </div>          
       
       
       <hr class="space"/>
       <hr />
       
       <div id="ticket_description_field" class="column span-24">
           
          <%=simple_format(@ticket.description)%>
       
       
       </div>
     
       <hr class="space"/>
       <hr />
       
       <div id="ticket_info" class="column span-24">
          
          <div>
            This ticket is associated to project: <%=link_to " #{@project.name} ", @project%>  
          </div>
           
           <div>
           
              Created by <b><%=@ticket.user.email%></b> 
                about <%=distance_of_time_in_words_to_now @ticket.created_at,true%> ago
           </div>
       </div>   
       
        
       </div>
     
   
   </div>       

