<div class="block">
	 
	 <div id="ticket" class="cool_box rounded column span-23 last">
	  
	   	    <div id="ticket_title_field">
            
                 <h2 class="alt"><%=@ticket.title%></h2>
            
            </div>
            
            <hr class="gray_bottom_border"/>    
           
            
            <%=authorized? "edit tickets".to_sym,@project do %>   
            
                <div id="ticket_edit" class="sequential">
                      <%=link_to "Edit Ticket",
                                  edit_project_ticket_path(@project,@ticket), #Eventualmente potevi passare [:edit,@project,@ticket]
                                 :class=>"command_button"%>
                </div>	
            
            <%end%>
                 
            <%=authorized? "delete tickets".to_sym,@project do %>        
               <div id="ticket_delete" class="sequential">
                 
                    <%=link_to "Delete Ticket",
                                project_ticket_path(@project,@ticket),
                                :method=>"delete",
                                :confirm=>"Are you sure to delete ticket '#{@ticket.title}' associatedo to project '#{@project.name}' ?",
                                :class=>"command_button"%>
               </div>	 
          
            <%end%>
       
        
            <hr class="space"/>
            <hr class="gray_bottom_border"/>
       
            <div id="ticket_description_field" class="cool_text">
              
               <%=simple_format(@ticket.description)%>
              
            </div> 
            
            <hr class="gray_bottom_border"/>
            
            <div id="ticket_info" class="cool_text_small">
              <div>
               This ticket is associated to project: <%=link_to " #{@project.name} ", @project%>  
             </div>
           
             <div>
               Created by: <b><%=@ticket.user.email%></b> 
               about <%=distance_of_time_in_words_to_now @ticket.created_at,true%> ago
             </div>
             
            
             <%=render @ticket.state if @ticket.state%>
               
             <hr class="space"/>
               
             <%unless @ticket.assets.empty?%>
               <%@ticket.assets.each do |asset| %>
                 <div>
                   Attached files: <%=link_to asset.asset_file_name,static_file_path(asset)%> 
                   (<%=number_to_human_size(asset.asset_file_size)%>)        
                 </div>  
              <%end%> 
             <%end%>
            
       </div>   
    </div>  
    <hr class="space"/>
   
   <div id="comments" class="cool_box rounded column span-23 last">
      <%if @ticket.comments.exists? %>
        <div>
         
           <h2 class="alt">Comments:</h2>
            
        </div>    
        <hr class="space">     
        <%=render @ticket.comments.select(&:persisted?) %>
             
      <%else%>
        <div>
          <h2 class="alt">There are no comments for this ticket</h2>
        </div>  
      <%end%> 
       
   </div>
     
   <hr class="space">
       
   <div class="cool_text_small">
       
         <%=render "comments/form"%>
        
   </div>
       
       <hr class="space"/>
     
   
</div>       

