<%=form_for @project do |f| %>
       <%=f.error_messages%>
      
               <div class="label_cell">
                    <%=f.label :name,'Project Name'%>
	           </div>
	  
	           <div class="input_cell">
	  	            <%=f.text_field :name%>
               </div> 
           
               <div>
                 <%=f.submit :class=>"formButton"%>
               </div> 
         
<%end%>
